*.pdf
*.xls
*.xlsx
*.docx
*.doc
*.zip
*.7z
*.mp4
*.rar
*.gz
*.bak
scripts/2009.txt
scripts/2010.txt
scripts/2011.txt
scripts/2012.txt
scripts/2013.txt
scripts/2014.txt
include/config.inc.php
include/collector.inc.php
files/AccidentDocuments/
files/PolicyDocuments/
templates_c/
temp/
files/PolicyDocumentsTemplates/
files/AccidentDocumentsTemplates/
files/AccidentDocumentsTemplates/
synchronization/**/*.txt
files/AccidentDocumentsTemplates/
phadmin/
synchronization\**\*.dat
cron/sxd