<Files cfg.php>
order allow,deny
deny from all
</Files>

<Files ses.php>
order allow,deny
deny from all
</Files>

<Files tmpl.php>
order allow,deny
deny from all
</Files>

<Files sxd.lic.php>
order allow,deny
deny from all
</Files>

order deny,allow
deny from all 
allow from 127.0.0.1
allow from 193.27.80.43
allow from 193.27.80.60